.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  margin-left: 7%;
  margin-right: 7%;

  .nav__list-container {
    display: flex;
    li {
      font-family: Barlow Bold;
      font-size: 0.8rem;
      color: rgba(131, 136, 143, 1);
      line-height: 0.9375rem;
      font-weight: 700;
      padding-right: 1.875rem;
    }
  }
}
