.how-it-works-container__header {
  margin-top: 12.5rem;
  color: rgba(131, 136, 143, 1);
  font-weight: 900;
}

.how-it-works-container__steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.how-it-works-container.how-it-works-subscribeScreen {
  background-color: #2c343e;
}

.how-it-works-container.how-it-works-homeScreen {
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .how-it-works-container.how-it-works-subscribeScreen {
    text-align: center;
  }
  .how-it-works-container__header {
    text-align: center;
    margin-top: 7.5rem;
  }
  .how-it-works-container__steps-container {
    display: block;
  }
}
