.how-it-works-container {
}
.how-it-works-container__steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.how-it-works-container.how-it-works-subscribeScreen {
  background-color: #2c343e;
}

.how-it-works-container.how-it-works-homeScreen {
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .how-it-works-container__steps-container {
    display: block;
  }
}
