.product-container {
  max-width: 15rem;
  text-align: center;
  h3 {
    color: rgba(51, 61, 75, 1);
  }
}
.product-image {
  width: 100%;
}

@media (max-width: 600px) {
  .product-container {
    margin-top: 3rem;
  }
}
