.question-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 0.75rem;
    width: 1.125rem;
  }
}
.question-container__choices {
  display: flex;
}

.question-container__title {
  color: rgba(131, 136, 143, 1);
  font-weight: 900;
  font-size: 2.5rem;
}
