.about-top-container {
  background-repeat: no-repeat;
  margin-top: 48px;
  padding-bottom: 137px;
  padding-top: 50px;
  padding-left: 85px;
  border-radius: 10px;

  h1 {
    color: white;
    max-width: 493px;
    font-size: 2.5rem;
  }
  .about-top-container__micro-copy {
    max-width: 400px;
    color: rgba(254, 252, 247, 1);
    font-weight: 400;
    opacity: 80%;
  }
}

.commitement-container {
  display: flex;
  margin-top: 10.5rem;
  column-gap: 7.8125rem;
  margin-right: 10.125rem;

  h4 {
    color: rgba(51, 61, 75, 1);
    font-size: 2.5rem;
  }
  img {
    border-radius: 0.5rem;
  }
}
.commitement-container__content {
  max-width: 33.75rem;
  color: rgba(51, 61, 75, 1);
}

.quality-container__content {
  margin-top: 10.5rem;
  padding-left: 7%;
  padding-top: 6.25rem;
  padding-bottom: 11rem;
  background-color: #2c343e;
  border-radius: 0.625rem;
  color: rgba(254, 252, 247, 1);
  h4 {
    font-weight: 900;
    font-size: 2.5rem;
  }
  .quality-container__copy {
    max-width: 33.75rem;
    opacity: 80%;
  }
}
.quality-container {
  img {
    position: absolute;
    z-index: 1;
    margin-left: 41.8125rem;
    margin-top: -38.625rem;
  }
}

.location-container {
  margin-top: 10.5rem;
  margin-left: 7%;
  margin-right: 12%;
  margin-bottom: 10.5rem;

  h4 {
    color: rgba(131, 136, 143, 1);
    font-weight: 900;
    margin-bottom: 4.5rem;
  }
}

.location-container__location-list {
  display: flex;
  column-gap: 8%;
}

.location-container__location {
  .location-container__contactinfo {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .about-top-container {
    text-align: center;
    padding-left: 0px;
    h1 {
      color: white;
      max-width: none;
      font-size: 2.5rem;
    }
    .about-top-container__micro-copy {
      max-width: none;
      color: rgba(254, 252, 247, 1);
      font-weight: 400;
      opacity: 80%;
    }
  }
  .commitement-container {
    display: block;
    margin-top: 7.5rem;
    margin-right: 0;
    text-align: center;

    h4 {
      font-size: 2rem;
      font-weight: 900;
    }
    img {
      border-radius: 0.5rem;
      height: 400px;
      width: 327px;
      border-radius: 0px;
    }
  }
  .commitement-container__content {
    max-width: 33.75rem;
    color: rgba(51, 61, 75, 1);
    opacity: 80%;
  }
  .quality-container__content {
    text-align: center;
    padding-left: 0%;
    padding-bottom: 0;
    h4 {
      font-size: 1.75rem;
      max-width: 20.4375rem;
    }
    .quality-container__copy {
      max-width: 20.4375rem;
      padding: 1.5rem 1.5rem 3.8125rem 1.5rem;
      opacity: 80%;
    }
  }
  .quality-container {
    position: relative;
    img {
      position: absolute;
      z-index: 1;
      margin-left: 25px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-top: -600px;
      height: 156px;
      width: 279px;
      border-radius: 8px;
    }
  }

  .location-container {
    margin-top: 7.5rem;
    text-align: center;
    margin-left: 7%;
    margin-right: 12%;
    margin-bottom: 7.5rem;

    h4 {
      color: rgba(131, 136, 143, 1);
      font-weight: 900;
      margin-bottom: 4.5rem;
    }
  }

  .location-container__location-list {
    display: block;
    margin-bottom: 80px;
  }

  .location-container__location {
    .location-container__contactinfo {
      width: 100%;
      font-size: 1rem;
    }
  }
}
