.intro-container {
  background-repeat: no-repeat;
  margin-top: 48px;
  padding-bottom: 116px;
  padding-top: 116px;
  padding-left: 85px;
  border-radius: 10px;

  h1 {
    color: white;
    max-width: 493px;
  }
  .intro-container__micro-copy {
    max-width: 445px;
    color: rgba(254, 252, 247, 1);
    font-weight: 400;
    opacity: 80%;
  }
  .btn {
    margin-top: 3.5rem;
  }
}
.collection-container {
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
}

.collection-container__background-header {
  position: absolute;
  font-weight: 900;
  font-size: 9.375rem;
  text-align: center;
  line-height: 120px;
  opacity: 10%;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
  margin-top: 50px;
}

.collection-container__product-container {
  padding-top: 8.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.875rem;
}

.usp-container {
  margin-top: 12.5rem;
}

.usp-container__usp-message-container {
  background-color: #2c343e;
  color: rgba(254, 252, 247, 1);
  padding-bottom: 20rem;
  padding-top: 6.25rem;
  border-radius: 0.625rem;
  z-index: 1;
}
.usp-container__header {
  font-weight: 900;
  padding-bottom: 2rem;
  text-align: center;
}

.usp-container__micro-copy {
  width: 50%;
  max-width: 31rem;
  margin: 0 auto;
  text-align: center;
}

.usp-container__card-container {
  margin-top: -14.4rem;
  margin-left: 6%;
  margin-right: 6%;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.875rem;
}
.how-it-works-container {
  margin-top: 200px;

  .how-it-works-container__header {
    color: rgba(131, 136, 143, 1);
    font-weight: 900;
  }
}
.how-it-works-container__steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .btn {
    margin-top: 4rem;
  }
}
