.intro-container {
  background-repeat: no-repeat;
  margin-top: 48px;
  padding-bottom: 116px;
  padding-top: 116px;
  padding-left: 85px;
  border-radius: 10px;

  .intro-container__content {
  }
  h1 {
    color: white;
    max-width: 493px;
  }
  .intro-container__micro-copy {
    max-width: 445px;
    color: rgba(254, 252, 247, 1);
    font-weight: 400;
    opacity: 80%;
  }
  .btn {
    margin-top: 3.5rem;
  }
}
.collection-container {
  padding-top: 8.5rem;
  position: relative;
}

.collection-container__background-header {
  position: absolute;
  font-weight: 900;
  font-size: 9.375rem;
  text-align: center;
  line-height: 120px;
  opacity: 10%;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
  margin-top: 50px;
}

.collection-container__product-container {
  padding-top: 8.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.875rem;
}
